body
{
    background-image: url("https://i.pinimg.com/474x/a3/d2/31/a3d231f6fc13c51104021078a829eeb4.jpg");
}

.panchito div
{
    margin: 0 auto;
}


.panchito h1
{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size:50px;
}

.sombrero .parteBaja
{
    background-color: black;
    width:150px;
    height: 15px;
}

.sombrero .parteAlta
{
    background-color: black;
    width: 120px;
    height: 70px;
    border-color: brown;
    border-style: solid;
}

.panchito .cuerpo
{
    width: 800px;
    height: 160px; 
    background-color:orange;
    border-radius: 15% 15% 15% 15%;
    position: relative;
}

.panchito .salchicha
{
    width: 630px; 
    height:25px; 
    background-color:red;
    border-radius: 50% 50% 0 0; 
    border-top: 20px solid red;
}

.cara .ojo1
{
  position: absolute;
  width: 110px;
  height: 60px;
  background-color: black;
  top: 30px;  
  left: 170px;
  border-radius: 0 0 40% 40%;
}

.cara .ojo2
{
  position: absolute;
  width: 110px;
  height: 60px;
  background-color: black;
  top: 30px;  
  left: 525px;
  border-radius: 0 0 40% 40%;
}

.cara .boca
{
  position: absolute;
  width: 80px;
  height: 10px; 
  background-color: black;
  top: 110px;
  left: 360px;
}

.vestimenta .traje
{
    position: absolute;
    width: 800px;
    height: 45px;
    background-color: black;
    top: 130px;
}

.vestimenta .bolsillo
{
    position: absolute;
    width: 50px;
    height: 45px;
    background-color: black;
    left: 620px;
    border-radius: 0 0 50% 50%;
    border-style: solid;
    border-color: rgb(27, 26, 26);
    border-width: 3px;
}

.vestimenta .remera
{
    position: absolute;
    width: 280px;
    height: 45px;
    background-color: white;
    top: 130px;
    left: 260px;
    border-top-color: black;
    border-width: 10px;
}

.vestimenta .corbata
{
    position: absolute;
    width: 45px;
    height: 140px;
    background-color: red;
    border-radius: 0 0 40% 40%;
    top: 130px;
    left: 377.5px;
}

.panchitosjrs
{
    display: flex;
}

.plato1
{
    margin-top: 200px;
    margin-left: 230px;
    position: relative;
    width: 240px;
    height: 240px;
    background-color: azure;
    border-radius: 100% 100% 100% 100%;
    border: 3px ridge gray;
}

.plato1 h1
{
    text-align: center;
    font-size: 30px;    
}

.panchitojr1
{
    position: absolute;
    left: 15px;
    top: 84px;
}

.panchitojr1 .pan1 
{
    margin-left: 15px;
    width: 180px;
    height: 25px; 
    background-color:orange;
    border-radius: 25% 25% 0 0;
}

.panchitojr1 .salchicha
{
    position: relative;
    width: 210px; 
    height:12px; 
    background-color:red;
    border-radius: 25% 25% 25% 25%; 
    border-top: 20px solid red;  
}

.salchicha .aderezo
{
    left: 20px;
    bottom: 13.5px;
    position: absolute;
    width: 170px;
    height: 5px;
    background-color: yellow;
}

.panchitojr1 .pan2 
{   
    margin-left: 15px;
    width: 180px;
    height: 25px; 
    background-color:orange;
    border-radius: 0 0 25% 25%;
}

.plato2
{
    margin-top: 200px;
    margin-left: 375px;
    position: relative;
    width: 240px;
    height: 240px;
    background-color: azure;
    border-radius: 100% 100% 100% 100%;
    border: 3px ridge gray;
}

.plato2 h1
{
    text-align: center;
    font-size: 30px;    
}

.panchitojr2
{
    position: absolute;
    left: 15px;
    top: 84px;
}

.panchitojr2 .pan1 
{
    margin-left: 15px;
    width: 180px;
    height: 25px; 
    background-color:orange;
    border-radius: 25% 25% 0 0;
}

.panchitojr2 .salchicha
{
    position: relative;
    width: 210px; 
    height:12px; 
    background-color:red;
    border-radius: 25% 25% 25% 25%; 
    border-top: 20px solid red;  
}

.salchicha .aderezo
{
    left: 20px;
    bottom: 13.5px;
    position: absolute;
    width: 170px;
    height: 5px;
    background-color: yellow;
}

.panchitojr2 .pan2 
{   
    margin-left: 15px;
    width: 180px;
    height: 25px; 
    background-color:orange;
    border-radius: 0 0 25% 25%;
}